.table-manage {
  border-collapse: collapse;
  width: 100%;
  min-width: fit-content;
  text-align: center;

  tbody tr:nth-child(even) {
    background-color: #5e6c8111;
  }
  td,
  th {
    font-size: 13px;
    color: #212a39;
    // white-space: nowrap;
  }
  tbody,
  th {
    border-bottom: 3px solid #39455a;
  }
  th {
    background-color: #11346544;
    padding: 15px 10px;
  }
  th:first-child {
    border-top-left-radius: 4px;
  }
  th:last-child {
    border-top-right-radius: 4px;
  }
  td {
    padding: 11px 10px;
  }
  tbody tr {
    height: 53.2px;
  }
  tbody tr:hover {
    background-color: #5578ad22 !important;
  }
}

.table-info {
  border-collapse: collapse;
  width: 100%;
  min-width: fit-content;

  td:first-child {
    text-align: right;
    font-weight: 700;
    width: 365px;
  }
  td:last-child {
    text-align: left;
  }

  tbody tr:nth-child(even) {
    background-color: #5e6c8111;
  }
  td {
    font-size: 13px;
    color: #212a39;
    // white-space: nowrap;
    border: 1px solid #212a3930;
  }

  td {
    padding: 11px 10px;
  }

  tbody tr:hover {
    background-color: #5578ad22 !important;
  }
}

.table-PLC {
  width: 100%;
  min-width: fit-content;

  th,
  td {
    border: 1px solid #212a3950;
  }
  th {
    padding: 12px 0;
    background-color: #5578ad22;
  }

  td:first-child {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
  }

  td {
    font-size: 13px;
    color: #212a39;
    // white-space: nowrap;
  }

  td {
    padding: 10px;
  }
}
