@keyframes flip {
  0% {
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-opacity: 0;
  }
  40% {
    opacity: 1;
    visibility: visible;
    -webkit-opacity: 1;
  }
  80% {
    opacity: 1;
    visibility: visible;
    -webkit-opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-opacity: 0;
  }
}
@keyframes shake {
  0% {
    transform: translateX(-2%);
    -webkit-transform: translateX(-2%);
  }
  10% {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
  }
  20% {
    transform: translateX(-2%);
    -webkit-transform: translateX(-2%);
  }
  30% {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
  }
  40% {
    transform: translateX(-2%);
    -webkit-transform: translateX(-2%);
  }
  50% {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
  }
  60% {
    transform: translateX(-2%);
    -webkit-transform: translateX(-2%);
  }
  70% {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
  }
  80% {
    transform: translateX(-2%);
    -webkit-transform: translateX(-2%);
  }
  90% {
    transform: translateX(2%);
    -webkit-transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
@keyframes fade-in-from-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fade-out-to-right {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes increaseHeightRight {
  0% {
    max-height: 0px;
  }
  50% {
    max-height: 0px;
  }
  100% {
    max-height: 100px;
  }
}
@keyframes increaseHeightLeft {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 100px;
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
